<table>
  <th>
    <td>dish</td>
    <td>description</td>
    <td>chef name</td>
    <td>date published</td>
  </th>

  {{#each posts}}
    <ul class={{background_color}}>
      <li>
        <ul>
          <li>
            <span>{{dish}} by {{chef_name}}</span>
          </li>
          <li>
            <span>Posted: {{formatDate date_published}}</span>
          </li>
          <li>
            <p>{{description}}</p>
          </li>
        </ul>
      </li>
    </ul>
  {{/each}}
</table>
