<table>

  <ul >
    {{#each posts}}
        <li class="{{background_color}} post-entry">
          <p>
            <p class="dish-and-chef">{{dish}} by {{chef_name}}</p>
            <p class="post-date">Posted: {{formatDate date_published}}</p>
          </p>
          <article class="dish-article">
            <p>{{description}}</p>
          </article>
        </li>
    {{/each}}
  </ul>
</table>
